---
import moment from "moment";
import PageTitleBlock from "../components/PageTitleBlock.astro"
import BrandImg from "../components/branding/BrandImg.astro";
import BlogContent from "../components/blog/BlogContent.astro";
import Nav from "../components/Nav.astro";
import TableOfContents from "../components/blog/toc/TableOfContents.astro";

import { blogRoutes } from "../routes/routes.metadata";
const { frontmatter, headings } = Astro.props;
const formatedDate = moment(frontmatter.date).format("MMMM D, YYYY");
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>wuul.dev</title>
	</head>
	<body>
		<Nav routes={blogRoutes.alterBaseRouteDepth("../..")}/>
		<!-- try and break this up -->
        <PageTitleBlock>
            <p class="text-base lg:text-4xl sm:text-xl mb-1 font-main text-wuul-bg sm:text-md">{frontmatter.title}</p>
            <BrandImg slot="title-image" src="/wuul0.png", alt="White fluffy sheep holding a Raspberry Pi with a wise look on its face."/>
        </PageTitleBlock>
		<!-- this should all go into a component in my /blog directory probably at the end of the day.. -->
		<section class="grid grid-cols-1 mx-2 md:grid-cols-5">
			<div class="hidden md:block col-span-1"></div>
			<div class="col-span-1 md:col-span-3">
				<BlogContent formatedDate={formatedDate} tldr={frontmatter.tldr}>
					<slot/>
				</BlogContent>
			</div>
			<!-- this will render the heading table of contents. -->
			<div class="hidden lg:block mt-5 col-span-1">
				<TableOfContents headings={headings}/>
			</div>
		</section>
	</body>
</html>
<style is:global>
	html {
		background:#FDFEF8;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
</style>